- model_class = DailyPrediction
- content_for :title do
  %h1= t '.title', :default => model_class.model_name.human

%dl.row
  %dt.col-sm-3= model_class.human_attribute_name :status
  %dd.col-sm-9= daily_prediction.status
  %dt.col-sm-3= model_class.human_attribute_name :date
  %dd.col-sm-9= daily_prediction.date
  %dt.col-sm-3= model_class.human_attribute_name :opening_price
  %dd.col-sm-9= daily_prediction.opening_price
  %dt.col-sm-3= model_class.human_attribute_name :closing_price
  %dd.col-sm-9= daily_prediction.closing
  %dt.col-sm-3= model_class.human_attribute_name :high
  %dd.col-sm-9= daily_prediction.high
  %dt.col-sm-3= model_class.human_attribute_name :high_time
  %dd.col-sm-9= daily_prediction.high_time
  %dt.col-sm-3= model_class.human_attribute_name :low
  %dd.col-sm-9= daily_prediction.low
  %dt.col-sm-3= model_class.human_attribute_name :low_time
  %dd.col-sm-9= daily_prediction.low_time




- if policy(daily_prediction).index?
  = link_to admin_daily_predictions_url, class: "btn btn-outline-secondary mx-1" do
    %i.fa-solid.fa-chevron-left
    = t('.back', :default => t("helpers.links.back"))

- if policy(daily_prediction).edit?
  = link_to edit_admin_daily_prediction_url(@daily_prediction), class: "btn btn-primary mx-1" do
    %i.fa-solid.fa-edit
    = t('.edit', :default => t("helpers.links.edit"))
